.carousel_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    width: 70%;
    /* flex-grow: 1; */
    height: 400px;
    margin: auto;
    /* border: 3px solid palevioletred; */
}

@media screen and (max-width: 800px) {
    .carousel_wrapper {
        width: 100% !important;
        margin: 30px 15px;
        height: 200px;
    }

    .carousel_caption_wrapper {
        font-size: 8px;
        height: 40% !important;
    }
}

.carousel_main_wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    color: white;
    background-color: rgb(40, 38, 60); /* antiquewhite */
    /* border-radius: 40px; */
    /* border: 1px solid blue; */
    /* height: 90%; */
}

.carousel_main_wrapper_light {
    background-color: #E8F8F5; /* antiquewhite; */
    color: #1a1927 !important;
}

.carousel_main_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.carousel_controllers_wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 5%;
}

.carousel_controllers_wrapper_light {
    color: #1a1927 !important;
}

.carousel_main_content_wrapper .figure_wrapper {
    display: flex;
    /* justify-content: center; */
    /* height: 100%; */
    width: 100%;
    /* background-color: rgb(40, 38, 60); */ /* antiquewhite */
    /* border: 2px solid red; */
    padding-top: 1%;
}

.carousel_main_content_wrapper .figure_wrapper img, .carousel_main_content_wrapper .figure_wrapper video {
    /* display: flex; */
    width: 100%;
    object-fit: contain !important;
}

.carousel_caption_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* background-color: rgb(40, 38, 60); */ /* antiquewhite */; /* #273746 */
    overflow-y: auto;
    /* width: 100%; */
    /* padding: 20px; */
    /* border: 1px solid yellowgreen; */
}

.carousel_caption_wrapper a {
    /* color: #273746; */
    color: inherit;
    /* font-size: 18px; */
    /* font-weight: 500; */
    width: 90%;
}

.carousel_next_previous {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: #1a1927;
    background-color: rgb(55, 53, 83); /* #34495E; */ /* #E6B0AA */
    text-align: center;
    /* height: 100%; */
    /* border: 1px solid yellowgreen; */
}

.carousel_next_previous:hover {
    background-color: rgb(66, 64, 100); /* #D98880 */
}

.carousel_next_previous_light {
    background-color: #D4E6F1; /* rgb(249, 222, 185); */
}

.carousel_next_previous_light:hover {
    background-color: rgb(248, 213, 164);
}

.carousel_buttons:hover, .carousel_next_previous:hover {
    cursor: pointer;
}