.carousel_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    width: 70%;
    /* flex-grow: 1; */
    height: 400px;
    margin: auto;
    /* border: 3px solid palevioletred; */
}

@media screen and (max-width: 800px) {
    .carousel_wrapper {
        width: 100% !important;
        margin-top: 30px;
    }
}

.carousel_main_wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    /* border-radius: 40px; */
    /* border: 1px solid blue; */
    /* height: 90%; */
}

.carousel_main_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.carousel_controllers_wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 5%;
}

.carousel_controllers_wrapper_light {
    color: #1a1927 !important;
}

.carousel_main_content_wrapper .figure_wrapper {
    display: flex;
    /* justify-content: center; */
    /* height: 100%; */
    width: 100%;
    background-color: antiquewhite;
    /* border: 2px solid red; */
    padding-top: 15px;
}

.carousel_main_content_wrapper .figure_wrapper img, .carousel_main_content_wrapper .figure_wrapper video {
    /* display: flex; */
    width: 100%;
    object-fit: contain !important;
}

.carousel_caption_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: antiquewhite; /* #273746 */
    overflow-y: auto;
    /* width: 100%; */
    /* padding: 20px; */
    /* border: 1px solid yellowgreen; */
}

.carousel_caption_wrapper a {
    color: #273746;
    font-size: 18px;
    font-weight: 500;
    width: 90%;
}

.carousel_next_previous {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: #1a1927;
    background-color: #E6B0AA; /* #34495E; */
    text-align: center;
    /* height: 100%; */
    /* border: 1px solid yellowgreen; */
}

.carousel_next_previous:hover {
    background-color: #D98880;
}

.carousel_buttons:hover, .carousel_next_previous:hover {
    cursor: pointer;
}