.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 10px;
    background-color: #1a1927;
    overflow-y: auto;
}

.home_wrapper_light {
    background-color: #D1F2EB; /* #e1dcb5; */
    color: #1a1927;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main_panel_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile_wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: white;
    margin: auto;
    /* margin: 20px; */
    /* width: 30%; */
}

.profile_wrapper_light {
    color: #1a1927;
}

.profile_wrapper img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    object-fit: cover;
}

.profile_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: left; */
    font-size: 20px;
}

.info_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0 0 0; 
}

.info_panel_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
    font-size: 20px;
    margin: 0 25px 25px 25px;
    border: 1px solid white; /* border-top: 1px solid white; */
    border-radius: 20px;
    padding: 20px 20px; /* padding-top: 10px; */
    width: 25%;
    min-height: 25%;
}

.info_panel_wrapper_light {
    color: #1a1927 !important;
    border: 1px solid #1a1927 !important;
}

.info_panel_title {
    font-weight: 700;
}

.info_panel_content {
    text-align: left !important;
}

.info_panel_content li {
    margin-bottom: 8px;
}

.info_panel_wrapper .material-symbols-outlined {
    position: absolute;
    font-size: 38px;
    right: 5%;
}

/* Tablet: two columns */
@media (max-width: 1200px) {
  .info_panel_wrapper {
    width: 48%;
  }
}

/* Phones: single column + tighter spacing */
@media (max-width: 800px) {
    .home_wrapper {
        padding: 0 !important;
    }
    
    .profile_wrapper {
        flex-direction: column !important;
    }
    .info_wrapper {
        justify-content: center;
        padding: 0 12px;
    }
    .info_panel_wrapper {
        width: 100%;
        margin: 0 10px 12px 10px;
    }
    
    /* Optional comfort tweaks on phones */
    /* .profile_wrapper img {
        width: 160px;
        height: 160px;
    } */
    
    /* .profile_content {
        font-size: 18px;
    } */
}
