.navbarContainer {
  display: flex;
  padding: 0 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  /* z-index: 1000; */
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 5vh;
  background: #1b2631;
  /* background: #1C2833; */
}

.navbarContainer button, .navbarContainer nav span, .navbarContainer a {
  color: #9d9d9d;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar_link_text {
  font-size: 18px;
}

.user_links_wrapper a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Theme */
.toggle_dark_mode {
  cursor: pointer;
  color: white;
}

.navbar_icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 100%;
  /* margin: auto; */
	width: 25%;
}

.navbar_icon {
	/* margin: auto; */
  margin-top: 1%;
}

.navbar_img {
	height: 35px;
	padding: auto;
	margin: auto;
}