.navbarContainer {
  display: flex;
  padding: 5px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  /* z-index: 1000; */
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 5vh;
  background: #1b2631;
  /* background: #1C2833; */
}

/* .navbarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .navbarLogo span {
  color: #d7d9da;
  height: 20px;
  margin-right: 5px;
} */

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
} */

/* nav a {
  margin-left: 10px;
  cursor: pointer;
} */

/* nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.navbarContainer button, .navbarContainer nav span, .navbarContainer a {
  color: #9d9d9d;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar_link_text {
  font-size: 18px;
}

/* nav .user_links_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

.user_links_wrapper a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* .user_links_wrapper img {
  margin: 0 6px;
  border-radius: 50%;
} */

/* nav .material-symbols-outlined {
	font-family: 'Material Icons';
  font-size: 30px;
} */

/* Theme */
.toggle_dark_mode {
  cursor: pointer;
  color: white;
}

.navbar_icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin: auto 0 auto 100px;
	width: 5%;
}

.navbar_icon {
	margin-right: 20px;
}

.navbar_img {
	height: 35px;
	padding: auto;
	margin: auto;
}