.publications_wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    /* height: 100vh; */
    color: #1a1927;
    background-color: #D1F2EB;
}
.publications_wrapper_dark {
    color: white;
    background-color: #1a1927;
}

.publications_list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
    /* justify-content: center; */
    /* margin: auto; */
}

.publication_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    /* height: auto; */
    margin: 10px auto 10px auto;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    padding: 5px 10px;
}

.publication_wrapper h3 {
    width: 80%;
    margin: 20px auto 5px auto;
}

.publication_wrapper a {
    color: #024A70;
}

.publication_wrapper_dark {
    box-shadow: 0px 2px 18px 0px rgba(255,255,255,0.3);
}

.publication_wrapper_dark a {
    color: #8EC5FF;
}

.publication_wrapper .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #94b7e1;
    color: rgb(68, 64, 64);
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .publication_wrapper {
        width: 90%;
    }

    .publication_wrapper .status {
        top: auto;
        bottom: 10px;
    }
}